#final-form {
  display: flex;
  flex-flow: column nowrap;
  color: #000000;
  gap: 15px;
}
#final-form > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
}
#final-form span:first-of-type {
  color: #006eff;
}
.correct {
  color: #008000;
}
.failed {
  color: #ff0000;
}
